# Set applicatication environment.
# Available value:
# - local
# - staging
# - production
ENVIRONMENT:local

# Debug App Status
DEBUG:true

# Debug Database Status
DEBUG_DATABASE:true

# Enable HTTPS
ENABLE_HTTPS:false

# SSL CERT PRIVATE KEY PATH
PRIVATE_KEY:key.pem

# FULLCHAIN KEY PATH
FULLCHAIN_KEY:cert.pem

# Facebook App ID and Secret
FACEBOOK_APP_ID:
FACEBOOK_APP_SECRET:

DEBUG_FACEBOOK_APP_ID:
DEBUG_FACEBOOK_APP_SECRET:

# AWS Configs
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
AWS_S3_BUCKET_NAME:shoppermate-test
AWS_S3_REGION_NAME:ap-southeast-1
AWS_S3_URL:https://s3-ap-southeast-1.amazonaws.com/

# JWT Secret
JWT_TOKEN_SECRET:gN2T5znLzeSTBvdeKPGZBAUdFb6fSrjK

# File Storage Path
STORAGE_PATH:src/bitbucket.org/cliqers/shoppermate-api/storages/

# Application Database
DB_HOST:localhost
DB_PORT:3306
DB_NAME:shoppermate
DB_USERNAME:root
DB_PASSWORD:

# Testing Database
TEST_DB_HOST:localhost
TEST_DB_PORT:3306
TEST_DB_NAME:shoppermate_test
TEST_DB_USERNAME:root
TEST_DB_PASSWORD:

# SMS Configurations
MOCEAN_SMS_URL:http://183.81.161.84:13016/cgi-bin/sendsms
MOCEAN_SMS_USERNAME:shoppermate
MOCEAN_SMS_PASSWORD:s28Dua3p
MOCEAN_SMS_CODING:1
MCOEAN_SMS_SUBJECT:ShopperMate

# Deal Range in KM
MAX_DEAL_RADIUS_IN_KM=10

# App Timezone UTC Number
UTC_TIMEZONE=8